* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    font-family: "Poppins", sans-serif;
}
.font--large {
    font-size: 32px;
}

.font--medium {
    font-size: 24px;
}

.font--small {
    font-size: 16px;
}

.font--p {
    font-size: 12px;
}

a {
     text-decoration: none;
    color: currentColor;    
}

header {
    background-color: aquamarine;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    height: 5em;
}

.header__img {
    width: 20%;
}

.header__img img {
    max-width: 4em;
    margin-left: 1rem;
}

.header__menu {
    width: 60%;
    margin-right: 10rem;
}

.header--div__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    text-align: center ;
}

.contact__form {
    border: 2px solid blue;
    width: 60%;
    margin-left: 3rem;
    padding-left: 15px;
}

button {
    border: none;
    background: aqua;
    color: blue;
    padding: 16px;
    margin-left: 50px;
    border-radius: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

button:hover {
    background: blue;
    color: yellow;
    padding: 25px;
}

button:active {
    background: black;
    color: white;
}

input:focus {
    border: 2px solid blue;
    box-shadow: 4px -4px black;
}

footer {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    height: 5em;
}

.footer__img {
    width: 3rem;
}

footer div {
    margin-left: 1em;
}

footer div ul li {
    margin-left: 1em;
}


.footer--div__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    text-decoration: none;
    list-style: none;
    text-align: center ;
}
